<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .red {
        color: red;
      }
      .green {
        color: green;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <form action="/" method="POST">
      <textarea
        type="text"
        name="inputText"
        style="width: 300px; height: 100px;"
      ></textarea>
      <br />
      <button type="submit" name="submit" style="width: 300px; height: 30px;">
        SUBMIT
      </button>
    </form>
    <h1 class="<%= color %>" id="textToSend">&zwnj;<%= texToSend %></h1>
  </body>
</html>
